.mobile-dropdown {
  display: none;
}
@media (max-width: 1024px) {
  .mobile-dropdown {
    display: block;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .dropdown-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: white;
  }

  .mobile-title {
    margin: 0;
    font-size: 1.4rem;
    font-family: Arial, serif;
    color: #e90909;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
  }

  .dropdown-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
  }

  .dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-top: 1px solid #ccc;
  }

  .dropdown-content a {
    padding: 12px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #eee;
    text-align: center;
    font-family: "Roboto", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .dropdown-content a:hover {
    background-color: rgba(233, 9, 9, 0.1);
    color: #e90909;
  }
}
.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.dropdown-content.open {
  max-height: 500px;
}

.dropdown-content .phone-link {
  padding: 12px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #eee;
  text-align: center;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.dropdown-content .phone-link:hover {
  background-color: rgba(233, 9, 9, 0.1);
  color: #e90909;
}
