.menu-wrapper {
  padding: 20px;
  font-family: Helvetica, sans-serif;
}

.menu-section {
  text-align: center;
}

.menu-items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px 10px;
  justify-content: center;
}

.menu-item-box {
  width: 310px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  background-color: #fff;
  text-align: left;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}
.menu-items-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.box-content {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.menu-buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.menu-buttons button {
  background: none;
  border: 2px solid black;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  color: black;
  font-family: Arial, serif;
  text-decoration: none;
  transition: color 0.2s ease;
}

.menu-buttons button:hover {
  color: grey;
  background-color: transparent;
}

@media (max-width: 1024px) {
  .menu-items-grid {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .menu-item-box {
    margin: 0 auto;
  }
}
