.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}
.title {
    margin: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: red; 
    font-size: 3rem;
    font-weight: bold;
      text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,  
    -1px 1px 0 black,  
    1px 1px 0 black;
}
.image {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}
.top_tab {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 0 0 0 20px;
  z-index: 1000; 
  border-bottom: 1px solid black;
  text-align: left
}

.top_tab title {
  font-size: 2.5rem;
  color: red;
  margin: 0; 
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,  
    -1px 1px 0 black,  
    1px 1px 0 black;
}
body {
  scroll-padding-top: 120px; /* Adjust this value to the actual height of your Topbar */
}

.topbar_button {
  background-color: grey;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.topbar_button:hover {
  background-color: #A80923;
}

.ubereats_button {
  background-color: grey;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

