html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}

#section1 {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#section1 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

#section1 h1,
#section1 p {
  color: white;
  font-family: Arial, serif;
}

#section1 h1 {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}

#section1 p {
  font-size: 1.6rem;
  max-width: 1000px;
  line-height: 1.6;
  font-weight: 300;
}

.first-container {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  padding: 60px 20px 30px;
  text-align: center;
  margin-bottom: 120px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.section2-wrapper {
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

.section3-wrapper {
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

.section-content {
  max-width: 1500px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.section-content:hover {
  transform: translateY(-5px);
}

@media (max-width: 1024px) {
  .slider-container {
    display: none;
  }
  #section1 h1 {
    font-size: 1.8rem;
  }

  #section1 p {
    font-size: 1.1rem;
    max-width: 90%;
  }

  .section-wrapper {
    padding: 20px;
  }

  .section-content {
    width: 100%;
    overflow-x: auto;
    word-break: break-word;
  }

  td {
    white-space: normal;
    font-size: 0.8rem;
  }

  .section3-wrapper {
    background-image: none !important;
    background-color: white;
    background-attachment: scroll;
    padding: 10px;
  }

  .section2-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
    padding: 10px;
  }
}
