.menu-wrapper {
  padding: 20px;
  font-family: Helvetica, sans-serif;
}

.menu-section {
  text-align: center;
}

.menu-items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px 60px; 
  justify-content: center; 
}

.menu-item-box {
  width: 310px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  background-color: #fff;
  text-align: left;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
  margin: 10px auto 0 auto;
}
.menu-items-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.box-content {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .menu-items-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .menu-item-box {
    margin: 0 auto;
  }
}
