.top_tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2rem;
  background-color: #ffffff;
  border-bottom: 2px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  z-index: 1000;
  gap: 1.5rem;
  box-sizing: border-box;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.top_tab > div:first-child {
  display: flex;
  flex-direction: column;
}

.top_title {
  font-size: 2rem;
  color: #e90909;
  margin: 0;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  font-family: Arial, serif;
}

.top_address {
  font-size: 1rem;
  margin: 0;
  font-family: Arial, serif;
}

.top_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-left: 5rem;
}

.top_buttons button {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  color: #333;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  border-radius: 5px;
}

.top_buttons button:hover {
  color: #e90909;
  transform: scale(1.05);
  background-color: rgba(233, 9, 9, 0.1);
}

.phone-button {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  color: #333;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.phone-button:hover {
  color: #e90909;
  transform: scale(1.05);
  background-color: rgba(233, 9, 9, 0.1);
}

@media (max-width: 1020px) {
  .top_tab {
    display: none;
  }
}
