.slider-image-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.slide-animation-right {
  animation: slideInFromRight 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.slide-animation-left {
  animation: slideInFromLeft 1s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slider-arrow {
  background: none;
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-arrow:hover {
  color: #e90909;
  transform: scale(1.1);
  background-color: rgba(233, 9, 9, 0.1);
}
